<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "template.html" %}
    {% block content %}
    <section class="main_calendar">
        <div class="">
            <h2> Integrate your Calendar</h2>
            <p>For more seamless time tracking</p>
            <div>
                <img src="static/images/calendar.png" alt="">
            </div>

            <a href="{{ url_for('calendar_new') }}"> 
                <button class="btn btn-outline-primary btn-lg main_button">
                    Add a new calendar
                </button>
            </a>
        </div>
    </section>
    <footer>
        <div>
          <p>&copy; 2023 Clockwise App. All rights reserved.</p>
        </div>
      </footer>
    {% endblock %}
</body>
</html>