<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar</title>
</head>
<body>
    {% extends "template.html" %}
    {% block content %}

    <h1> Google Calendar</h1>

    {% if events %}
    <ul>
        {% for event in events %}
            <li>{{ event.start.dateTime }} - {{ event.summary }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No upcoming events found.</p>
    {% endif %}
    
    {% endblock %}
</body>
</html>