<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clockwise App</title>
    <link rel="stylesheet" href="styles.css">
    <script defer src="script.js"></script>
</head>

<body style="background-color: #ffffff; color: #3498db; font-family: Buttershine, Zasline, Sacramento, Akira, Gilgan;">
    <div class="container" style="position: relative; text-align: center; padding: 50px;">
        <section class="buttons" style="position: absolute; top: 20px; right: 20px; display: flex; gap: 10px;">
            <button onclick="location.href='#login'" style="background-color: #3498db; color: #ffffff; font-family: 'Arial', sans-serif; padding: 10px 20px; cursor: pointer; margin-top: 0in;">Login</button>
            <button onclick="location.href='#create-account'" style="background-color: #3498db; color: #ffffff; font-family: 'Arial', sans-serif; padding: 10px 20px; cursor: pointer; margin-top: 0in;">Create Account</button>
            <button onclick="location.href='#request-demo'" style="background-color: #3498db; color: #ffffff; font-family: 'Arial', sans-serif; padding: 10px 20px; cursor: pointer; margin-top: 0in;">Request Demo</button>
        </section>

        <img src="https://i.ibb.co/YZm521n/C-1.png" alt="" style="width: 80px; position: absolute; top: 20px; left: 20px;">
        
        <header style="margin-bottom: 30px;">
            <h1>Welcome to Clockwise</h1>
            <p style="color: black; Font-size: 30px;">The most popular free time tracker for teams.
             Clockwise is a time tracker and timesheet app that lets you track work hours across projects.
             Unlimited users, free forever.</p>
        </header>

        <section class="image-section" style="margin-top: 1in;">
            <div>
                <h2>Our App Overview</h2>
                <img src="https://i.ibb.co/MNvF3xt/Screenshot-2023-12-11-142606.png" alt="App Overview" style="width: 200%; max-width: 600px; margin-bottom: 20px;">
            </div>
            <div>
                <h2>Time Management Features</h2>
                <p style="color: black; Font-size: 20px;">Track productivity, attendance, and billable hours with a simple time tracker and timesheet.</p>
                <img src="https://i.ibb.co/PzgR3JY/Screenshot-2023-12-11-142632.png" alt="App Features" style="width: 200%; max-width: 600px; margin-bottom: 20px;">
            </div>
            <div>
                <h2>Reports Page</h2>
                <p style="color: black; Font-size: 20px;">Analyze and export tracked time.</p>
                <img src="https://i.ibb.co/N9P46RR/Screenshot-2023-12-11-142718.png" alt="Reports" style="width: 200%; max-width: 600px;">
            </div>
        </section>
    </div>

    <footer style="text-align: center; padding: 20px;">
        <p style="font-size: 14px;">&copy; 2023 Clockwise App. All rights reserved.</p>
    </footer>
</body>

</html>
