<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects Summary</title>
</head>
<body>
    {% extends "template.html" %}
    {% block content %}
    <section class="main_projects">
        <div>
            <h2>Projects Summary</h2>
            <table class="table table-hover">
                <thead border="1" class="table-info">
                    <tr>
                        <th scope="col"> Projects</th>
                        <th scope="col"> Total Hours</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project, total_hours in project_totals.items() %}
                        <tr>
                            <td>{{ project }}</td>
                            <td>{{ total_hours|round(2) }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

    <footer>
        <div>
          <p>&copy; 2023 Clockwise App. All rights reserved.</p>
        </div>
      </footer>
      
    {% endblock %}
</body>
</html>