<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    {% extends "template.html" %}
    {% block content %}
    <div class="main">
        <div class="logins">
            <img src="static/images/ClockWise-2.png" alt="">
            <h2>Signup</h2>
            <form action="{{ url_for('signup') }}" method="post">
                {{ form.hidden_tag() }}
                <div class="row">
                    <div class="col-sm-2 d-flex align-items-center">
                        <label for="username" class="loginslabel">
                            {{ form.username.label }}
                        </label>
                    </div>
                    <div class="col-sm-6">
                        {{ form.username(size=32) }}
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 d-flex align-items-center">
                        <label for="email" class="loginslabel">
                            {{ form.email.label }} 
                        </label>
                    </div>
                    <div class="col-sm-6">
                        {{ form.email(size=32) }}
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 d-flex align-items-center">
                        <label for="password" class="loginslabel">
                            {{ form.password.label }} 
                        </label>
                    </div>
                    <div class="col-sm-6">
                        {{ form.password(size=32) }}
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 d-flex align-items-center">
                        <label for="department" class="loginslabel">
                            {{ form.department.label }} 
                        </label>
                    </div>
                    <div class="col-sm-6">
                        {{ form.department(size=32) }}
                        <br>
                    </div>
                </div>
                <div class="row">
                    {{ form.submit }}
                </div>
            </form>
            <p> Already have an account? <a href=" {{ url_for('login') }}">Log In</a></p>
        </div>
    </div>
    {% endblock %}
</body>
</html>