<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Tracker</title>
</head>
<body>
    {% extends "template.html" %}
    {% block content %}
        <div class="tracker_form">
            <h2 class="form_text">Time Sheet</h2>
                <form action="/save_entry" method="post">
                    <div class="row">
                        <div class="col-sm-4">
                            <label for="Start Time" class="form-control-lg ">Start Time: </label>
                            <input type="datetime-local" name="start_time" class="form-control-lg">
                        </div>
                        <div class="col-sm-4">
                            <label for="End Time" class="form-control-lg ">End Time: </label>
                            <input type="datetime-local" name="end_time" class="form-control-lg">
                        </div>
                    </div>
                    <div class="row">
                        <label for="project" class="col-sm-2 form-control-lg">Select Project:</label>
                        <select name="project" class="col-sm-6 form-control-lg">
                            {% for project in projects %}
                                <option value="{{ project.id }}">{{ project.name }}</option>
                            {% endfor %}
                        </select> <br>
                    </div>
                    <div class="row">
                        <label for="task" class="col-sm-2 form-control-lg">Select Task:</label>
                        <select name="task" id="" class="col-sm-6 form-control-lg">
                            {% for task in tasks %}
                                <option value="{{ task.id}}">{{ task.description}}</option>
                            {% endfor %}
                        </select>
                        <input type="checkbox" name="" class="col-sm-2">
                        <label for="billable" class="col-sm-2 form-control-lg">Billable</label>
                    </div>
                    <div class="row">
                        <label for="Description" class="col-sm-2 form-control-lg ">Description:</label> 
                        <textarea name="description" id="" cols="30" rows="4"></textarea>
                    </div>

                    <button type="submit">Save Entry</button>
                </form>
        </div>

        <footer>
            <div>
              <p>&copy; 2023 Clockwise App. All rights reserved.</p>
            </div>
          </footer>
          
    {% endblock %}
</body>
</html>