.bd {
    margin-left: 100px;
    margin-right: 100px;
}

/*nav bar*/
#top {
    position: relative;
    text-align: center;
    /*margin-left: 100px;
    margin-right: 100px;*/
}

#top h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
}

.brand {
    font-family: cursive;
    font-weight: bolder;
}

/* index.html */
.main_home {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
    text-align: center;
    height: 80vh;
    padding: 50px;
}

.main_home img {
    width: 200px;
    height: 200px;
}

.main_home p {
    padding-top: 50px;
    padding-bottom: 60px;
    font-size: 1.5rem;
}

.main_button {
    margin-right: 50px;
}

.image-section {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 50px;
}

.image-section_divs {
    height: 90vh;
}

.image-section_divs img {
    margin-bottom: 20px;
    width: 900px;
}

.image-section_divs h2 {
    padding-bottom: 30px;
}

.image-section_divs p {
    font-size: 1.5rem;
}

.border_line {
    margin-bottom: 60px;
    border-top: 20px dotted rgb(202, 248, 248);
    width: 20%;
}


/*signup form */
.main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logins {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    /* height: 600px; */
    margin-top: 100px;
    padding: 10px 15px;
    border-color: #ccc;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-width: 5px;
    border-radius: 60px;
    padding: 50px;
    width: 55vw;
}

.logins img {
    width: 100px;
    height: 100px;
    opacity: 100%;
}

.logins h2 {
    margin: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
}

/*
.loginslabel {
    margin-bottom: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    padding-right: 30px;
}
*/

.logins input {
    /*width: 100%;*/
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.logins p {
    padding-top: 20px;
}


/* tracker.html */
.tracker_form {
    position: relative;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 0px 70px 50px;
    text-align: center;
}

.tracker_form h2 {
    margin-bottom: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
}

.form_text {
    text-align: center;
    padding: 50px;
}

.tracker_form .row {
    margin-bottom: 100px;
}

/* Projects_summary.html */
.main_projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.main_projects h2 {
    margin-bottom: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    padding-top: 20px;
    text-align: center;
}

.main_projects table {
    width: 70vw;
    border: none;
    align-items: center;
}

.main_projects th {
    font-weight: bolder;
    font-size: 1.5rem;
}

/* Reports page */
.main_reports {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.main_reports h2 {
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
}

/* calendar page */
.main_calendar {
    align-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.main_calendar h2 {
    padding-top: 40px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 1.7 rem;
}

.main_calendar img {
    width: 1200px;
}

.main_calendar a {
    text-align: center;
}

/* common */
footer {
    font-style: italic;
    font-weight: lighter;
    text-align: center;
    padding-top: 30px;
}